.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px;
    border-bottom: 1px solid grey;
}

.header_title {
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 0.015rem;
    font-family: var(--font-mono);
}

.header_container.show {
    display: flex;
}

.header_user {
    position: relative;
    cursor: pointer;
}

.header_user_data {
    display: flex;
    align-items: center;
    gap: 6px;
}

.header_user_name {
    font-size: .9rem;
    font-weight: 600;
    font-family: var(--font-mono);
}

.header_arrow_icon {
    margin-top: -3px;
    width: 13px;
    height: 13px;
}

.header_user_dropdown {
    display: none;
    position: absolute;
    background-color: var(--secondary-bg);
    border-radius: 4px;
    padding: 10px 15px;
    right: 0;
    top: 45px;
}

.header_user_dropdown.show {
    display: block;
}

.header_user_dropdown .list {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header_user_dropdown .list:hover {
    color: var(--text-highlight);
}

.header_user_dropdown .list .title {
    font-size: .850rem;
    font-weight: 600;
}
