:root {

    --body-bg: #212121;
    --secondary-bg: #383838;
    --card-bg: #383838;
    --border-color: rgb(77, 76, 76);

    --btn-highlight-bg: #1D84EF;
    --btn-highlight-bg-hover: #1a72cf;

    --text-highlight: #1DA1F2;
    --text-dark-1: white;
    --text-black-1: #F2F2F2;
    --text-black-2: #838585;

    --danger-btn-bg: #dc3545;
    --danger-alert-text: #ff5a4e;
    --danger-alert-bg: rgba(248, 81, 73, 0.1);
    --danger-alert-border: rgba(248, 81, 73, 0.4);
    --success-alert-text: #4cbb59;
    --success-alert-bg: rgba(46, 160, 67, 0.1);
    --success-alert-border: rgb(52, 180, 76);
    --info-alert-text: #035ce2;
    --info-alert-border: #035ce2;
    --info-alert-bg: #0e1a2e;
    --warning-alert-text: #ffc107;
    --warning-alert-border: #ffc107;
    --warning-alert-bg: rgba(186, 199, 6, 0.1);

    --input-bg: #383838;
    --input-border: #383838;
    --input-border-highlight: #1D84EF;

    --font-roboto: 'Roboto', sans-serif;
}

.body {
    width: 100%;
    color: white;
    background-color: var(--body-bg);
}

.body_main {
    padding: 15px 15px;
    min-height: 100vh;
    scroll-behavior: smooth;
}

.spinner_loader {
    width: 1rem !important;
    height: 1rem !important;
    color: var(--text-black-2);
}

.spinner_loader.light {
    color: white;
    margin-right: 8px;
    width: 1.4rem !important;
    height: 1.4rem !important;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(36, 35, 35, 0.7);
}

.model_container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    padding: 25px 20px;
    border-radius: 10px;
    background-color: var(--card-bg);
    border: 1px solid var(--card-border);
    transform: translate(-50%, -50%);
    transition: 0.4s all ease-in-out;
}

.model_title {
    font-size: 1.2rem;
    font-weight: 600;
    font-family: var(--font-mono);
}

.model_info {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.010rem;
}

.model_footer_container {
    margin: 20px 0px 5px 0px;
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}

.model_footer_container .cancel {
    border: none;
    padding: 7px 12px;
    border-radius: 5px;
    color: white;
    font-size: .9rem;
    font-weight: 500;
    background-color: var(--danger-btn-bg);
}

.model_footer_container .confirm {
    border: none;
    padding: 7px 12px;
    border-radius: 5px;
    color: white;
    font-size: .9rem;
    font-weight: 500;
    background-color: var(--btn-highlight-bg);
}

.model_footer_container .confirm:disabled {
    cursor: not-allowed;
    background-color: rgb(92, 92, 92);
}

.middle_loader {
    position: absolute;
    top: 50%;
    left: 47%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.middle_loader .text {
    padding: 10px 0px;
    font-size: .8rem;
    text-align: center;
}
